.payment {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}

.table {
  border-collapse: collapse;
  margin-left: 2rem;
}

.table th {
  background-color: #0277bd;
  color: #fff;
  padding: 1rem;
}

.table td {
  padding: 1rem;
}
